/* heart jump */
@keyframes jump{
    0%{transform:  translateY(0) scale(1);}
    25%{transform: translateY(-06px) scale(1.1);}
    50%{transform: translateY(0) scale(1);}
    75%{transform: translateY(-3px) scale(1.05);}
    100%{transform: translateY(0) scale(1);}
}




#heartIcon{
  animation: jump 1s ease-in-out infinite;
  transform-origin: center;
}


/* coin rotation */

@keyframes rotateCoin {
    0%{transform: rotate(0deg);}
    100%{transform: rotate(360deg);}
}


#coinIcon{
    animation: rotateCoin 2s linear infinite;
    transform-origin: center;
}



#copy-Card:hover{
    background-color: #1f1e1e;
    color: white;
}